<div class="main-footer">
    © 2020 Bryskit.com
</div>
<div class="modal fade" id="alert_modal" tabindex="-1" role="dialog" aria-labelledby="alert_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="alert-modal-box">
                    <div class="alert-text">
                        Request Submitted Successfully
                    </div>
                    <div class="alert-modal-btn">
                        <a href="javascript:void(0)" class="btn btn-common btn-lg btn-block" onClick="$('#alert_modal').modal('hide');">DONE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="alert_modal1" tabindex="-1" role="dialog" aria-labelledby="alert_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="alert-modal-box">
                    <div class="alert-text">
                        ORDER HAS BEEN CREATED
                    </div>
                    <div class="alert-modal-btn">
                        <a href="javascript:void(0)" class="btn btn-common btn-lg btn-block" onClick="$('#alert_modal1').modal('hide');">DONE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>