<footer class="footer">
    <div class="footer-big">
        <div class="container">
            <div class="footer-logo">
                    BRYSKIT
            </div>
            <div class="footer-social">
                <ul class="list-inline footer-social-list">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-links">
                <ul class="list-inline footer-links-list">
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">Home</a>
                </li>
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">About As</a>
                </li>
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">How we work</a>
                </li>
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">Terms and Condition</a>
                </li>
                <li class="list-inline-item">
                    <a href="javascrip:void(0);">Contact Us</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-small">
        <div class="container">
            <p class="m-0">Bryskit All rights reserved @2020</p>
        </div>
    </div>
</footer>