.example-full-width {
    width: 500px;
}

.chip {
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    margin: 6px;
    border-radius: 13px;
    background-color: #DD1800;
    color: #ffffff;
}
