<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
        <div class="col-lg-8">
            <strong class="text-left" for="cardNumber">Name on Card</strong><br>
            <input class="name" placeholder="Name On Card" name="name" [(ngModel)]="name">
        </div>

        <div class="col-lg-4">
            <strong for="cardNumber">EXP</strong>

            <div id="card-info" #cardexp></div>
        </div>
        <div class="col-lg-8">
            <strong class="text-left" for="cardNumber">Credit or Debit Card</strong>
            <div id="cardNumber" #cardNumber style="width: 100%;"></div>
        </div>

        <div class="col-lg-4">
            <strong for="cardNumber">CVV</strong>

            <div id="card-info" #cardCVV></div>
        </div>
    </div>
    <br>
    <div id="card-errors" role="alert" class="text-danger" *ngIf="error">{{ error }}</div>


    <button [hidden]="loading" type="submit" class="btn btn-common">Save payment details</button>
    <div class="lds-facebook loction" [hidden]="!loading">
        <div></div>
        <div></div>
        <div></div>
    </div>
</form>