<div class="content-header">

    <div class="c-head-left"> <a routerLink="/user/orders">My Orders</a> > Return order</div>
    <div class="c-head-left">

    </div>
</div>



<div class="row gutter-10 orderDiv-Current">
    <div class="col-12">
        <div class="vcard">
            <div class="vcard-head">
                <h3>Trip Support : Other</h3>
                <div class="vcard-head-right">

                </div>
            </div>
            <div class="vcard-body">
                <div class="title-head mb-3">
                    <div class="title-head-left">Pick Up Location</div>
                </div>
                <form class="common-form px-15">
                    <div class="row gutter-10">
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Company Name</label>
                                <input type="text" class="form-control" value="Maven Cluster">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Street Address</label>
                                <input type="text" class="form-control" value="1st Floor, Sky Space Lite, 173 PU4">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Address 2 (optional)</label>
                                <input type="text" class="form-control" value="Near The Regiment Hotel, Behind Malhar Mega Mall">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>City</label>
                                <input type="text" class="form-control" value="Indore">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>State</label>
                                <input type="text" class="form-control" value="Madhya Pradesh">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Postal Code</label>
                                <input type="text" class="form-control" value="452010">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="title-head mb-3 mt-2">
                    <div class="title-head-left">Destianation</div>
                </div>
                <form class="common-form px-15">
                    <div class="row gutter-10">
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Company Name</label>
                                <input type="text" class="form-control" value="Maven Cluster">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Street Address</label>
                                <input type="text" class="form-control" value="1st Floor, Sky Space Lite, 173 PU4">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Address 2(optional)</label>
                                <input type="text" class="form-control" value="Near The Regiment Hotel, Behind Malhar Mega Mall">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>City</label>
                                <input type="text" class="form-control" value="Indore">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>State</label>
                                <input type="text" class="form-control" value="Madhya Pradesh">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="form-group animate-lable focused">
                                <label>Postal Code</label>
                                <input type="text" class="form-control" value="452010">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="title-head mb-3">
                    <div class="title-head-left">Description</div>
                </div>
                <form class="common-form px-15 mt-2">
                    <div class="row gutter-10">
                        <div class="col-lg-12">
                            <div class="form-group animate-lable">
                                <label>Your Comments Here</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-4 bottom-form-btns">
            <button class="btn text-uppercase btn-lg btn-common" onclick="showAlertModal('Request Submitted Successfully')">Submit request</button>
        </div>
    </div>
</div>