<section class="banner">
    <div class="container">
        <div class="banner-text">
        <div class="">
                <h1>online <br/>
                delivery service</h1>
                <p>Compellingly deliver focused infrastructures whereas user-centric systems.
                     Energistically utilize long-term high-impact methodologies vis-a-vis accurate.</p>
                <a class="btn btn-common btn-lg" href="javascript:void(0);">Order Now</a>   
        </div>
        </div>
    </div>
</section>
<section class="about-us-sec">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-md-6">
                <h1 class="site-heading text-left">about us</h1>
                <p class="site-para">
                        Monotonectally synergize out-of-the-box processes whereas inexpensive e-services. Rapidiously fabricate competitive paradigms for global bandwidth. Objectively synthesize extensive technologies through excellent products. Holisticly negotiate leading-edge systems without user-centric meta-services. Proactively incubate vertical functionalities via distributed methods of empowerment.
                </p> <p class="site-para pt-1 pt-lg-3">
                        Distinctively synergize process-centric results and exceptional niche markets. Enthusiastically e-enable.
                </p>
            </div>
            <div class="col-md-6 mt-md-auto order-md-first">
                <div class="about-us-img">
                    <img class="img-fluid" src="assets/images/delevey-boy.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-work">
    <div class="container">
        <h1 class="site-heading text-center">how it works</h1>
    
    <div class="row box-how-row">
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="box-how">
                <span class="down-arrow"></span>
                <span class="counting">1</span>
                <div class="box-how-head">
                    <img src="assets/images/img-icon.png"> Title Here
                </div>
                <div class="box-how-text">
                    Assertively implement high-quality e-business after error-free web-readiness. Rapidiously negotiate goal-oriented applications with
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="box-how secound-box-how">
                <span class="down-arrow"></span>
                <span class="counting">2</span>
                <div class="box-how-head">
                    <img src="assets/images/img-icon.png"> Title Here
                </div>
                <div class="box-how-text">
                    Assertively implement high-quality e-business after error-free web-readiness. Rapidiously negotiate goal-oriented applications with
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="box-how">
                <span class="down-arrow"></span>
                <span class="counting">3</span>
                <div class="box-how-head">
                    <img src="assets/images/img-icon.png"> Title Here
                </div>
                <div class="box-how-text">
                    Assertively implement high-quality e-business after error-free web-readiness. Rapidiously negotiate goal-oriented applications with
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <div class="box-how last-box-how">
                <span class="down-arrow"></span>
                <span class="counting">4</span>
                <div class="box-how-head">
                    <img src="assets/images/img-icon.png"> Title Here
                </div>
                <div class="box-how-text">
                    Assertively implement high-quality e-business after error-free web-readiness. Rapidiously negotiate goal-oriented applications with
                </div>
            </div>
        </div>
    </div>
</div>
</section>