.custom {
    // height: 400px !important;
    min-height: 200px !important;
    overflow-y: hidden;
}

.user-module .table-common td label.ck-box {
    white-space: normal;
}

.chip {
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
    margin: 6px;
    border-radius: 13px;
    background-color: #DD1800;
    color: #ffffff;
}
