<div class="front-module">
    <div class="login-wrapper">
        <div class="login-bg-img"></div>
        <div class="login-container">
            <div class="login-box">
                <div class="login-box-head">
                    <h1>BRYSKIT</h1>
                    <div class="title-login">Forgot Password</div>
                </div>
                <form class="login-form">
                    <alert></alert>
                    <div class="form-group">
                        <label class="login-label">Email</label>
                        <input type="text" class="form-control" placeholder="Enter email to reset password" name="companyEmail" [(ngModel)]="companyEmail">
                    </div>
                    <div class=" login-btn-div ">
                        <button class="btn btn-common btn-lg btn-block " (click)="onSubmit()" [disabled]=" ">   Reset password</button>
                    </div>
                </form>
            </div>
            <div class="text-center login-link ">
                Don't have an account?
                <a routerLink="/user/signup">Sign Up</a> <br> Login your account-
                <a routerLink="/user/login">Sign In</a>
            </div>
            <div class="text-center login-link ">

            </div>
        </div>
    </div>
</div>