<div class="front-module">
    <div class="login-wrapper">
        <div class="login-bg-img"></div>
        <div class="login-container">
            <div class="login-box">
                <div class="login-box-head">
                    <h1>BRYSKIT</h1>
                    <div class="title-login">Email verification</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <strong>
                            Seems you haven't done email verification yet.Verification link is send to your email account.
                        </strong>
                        <p class="mt-2">
                            After verifying your email address then <a routerLink="/user/login">Sign In</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center login-link ">
                Don't have an account?
                <a routerLink="/user/signup">Sign Up</a> <br> Login your account-
                <a routerLink="/user/login">Sign In</a>
            </div>
            <div class="text-center login-link ">

            </div>
        </div>
    </div>
</div>
